<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <!-- Basic need -->
    ${header_include}

</head>

<body>
    <!--preloading-->
    ${header_menu}
    <!-- END | Header -->

    <div class="">

    </div>
    <div class="movie-items">
        <div class="container">
            <div class="row ipad-width">
                <div class="col-md-12">
                    <div class="title-hd">
                        <h2>Thịnh hành</h2>
                        <a href="${app_domain}/danh-sach-phim?type=thinh-hanh" class="viewall">Xem tất cả <i class="ion-ios-arrow-right"></i></a>
                    </div>
                    <div class="tabs">
                        <ul class="tab-links">
                            <li class="active"><a href="#tab1">#Trending</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab1" class="tab active">
                                <div class="row">
                                    <div class="slick-multiItem">
                                        <#list list_film_by_trend as film>
                                            <div class="slide-it">
                                                <div class="movie-item">
                                                    <div class="mv-img">
                                                        <img src="${film.poster}" alt="" width="185" height="284">
                                                    </div>
                                                    <div class="hvr-inner">
                                                        <a href="${app_domain}/chi-tiet-phim?id=${film.id}"> Xem chi tiết <i class="ion-android-arrow-dropright"></i> </a>
                                                    </div>
                                                    <div class="title-in">
                                                        <h6><a href="${app_domain}/chi-tiet-phim?id=${film.id}">${film.title}</a></h6>
                                                        <p>Thời lượng: ${film.duration}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </#list>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="title-hd">
                        <h2>Sắp chiếu</h2>
                        <a href="${app_domain}/danh-sach-phim?type=sap-chieu" class="viewall">Xem tất cả <i class="ion-ios-arrow-right"></i></a>
                    </div>
                    <div class="tabs">
                        <ul class="tab-links-2">
                            <li class="active"><a href="#tab22"> #Coming soon</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab22" class="tab active">
                                <div class="row">
                                    <div class="slick-multiItem">
                                        <#list list_film_by_upcoming as film>
                                            <div class="slide-it">
                                                <div class="movie-item">
                                                    <div class="mv-img">
                                                        <img src="${film.poster}" alt="" width="185" height="284">
                                                    </div>
                                                    <div class="hvr-inner">
                                                        <a href="${app_domain}/chi-tiet-phim?id=${film.id}"> Read more <i class="ion-android-arrow-dropright"></i> </a>
                                                    </div>
                                                    <div class="title-in">
                                                        <h6><a href="${app_domain}/chi-tiet-phim?id=${film.id}">${film.title}</a></h6>
                                                        <p>Thời lượng: ${film.duration}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </#list>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="title-hd">
                        <h2>Phổ biến</h2>
                        <a href="${app_domain}/danh-sach-phim?type=pho-bien" class="viewall">Xem tất cả <i class="ion-ios-arrow-right"></i></a>
                    </div>
                    <div class="tabs">
                        <ul class="tab-links-2">
                            <li class="active"><a href="#tab21">#Popular</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab21" class="tab active">
                                <div class="row">
                                    <div class="slick-multiItem">
                                        <#list list_film_by_popular as film>
                                            <div class="slide-it">
                                                <div class="movie-item">
                                                    <div class="mv-img">
                                                        <img src="${film.poster}" alt="" width="185" height="284">
                                                    </div>
                                                    <div class="hvr-inner">
                                                        <a href="${app_domain}/chi-tiet-phim?id=${film.id}"> Read more <i class="ion-android-arrow-dropright"></i> </a>
                                                    </div>
                                                    <div class="title-in">
                                                        <h6><a href="${app_domain}/chi-tiet-phim?id=${film.id}">${film.title}</a></h6>
                                                        <p>Thời lượng: ${film.duration}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </#list>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- footer section-->
    <footer class="ht-footer">
        <div class="ft-copyright">
            <div class="ft-left">
                <p>© Do Thi Bich Ngan</p>
            </div>
            <div class="backtotop">
                <p><a href="#" id="back-to-top">Lên trên  <i class="ion-ios-arrow-thin-up"></i></a></p>
            </div>
        </div>
    </footer>
    <!-- end of footer section-->

    ${footer_include}
</body>

</html>